
<!DOCTYPE html>
<html>
<title>dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.btn{
  border: none;
  outline: none;
  background-color: #ff5722;
  border : none;
  color:#fff;
  border-radius :10px;
  padding:9px;
  font-style: italic;
  text-decoration: none;
}
.btn:hover{
  cursor: pointer;
  background-color: #ff9800;
  color:black;
}
.title_span{

  font-size: 22px;
  font-weight: bold;
  padding-right: 10px;
}
.history{
  float: right;
  color: rgb(134, 132, 132)
}

</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left font" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="<% if (user.avatar) {%>
      /img/avatar/<%= user.avatar %>
<% }else { %>
/img/avatar/defult.png
<% } %>"  class="w3-round avatar"><br><br>
    <h4><b>hello <%= user.userName %></b></h4>

  </div>
  <div class="w3-bar-block">
    <a href="/dashboard/owner/update" onclick="w3_close()" class="w3-bar-item w3-button w3-padding ">Update</a> 
    <a href="/dashboard/owner/createarticle" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">+ Add Article</a> 
  </div>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b><%= user.userName %> Articles</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <button class="w3-button w3-white"><a href="/home" class="headera">Home</a> </button>
      <button class="w3-button w3-white w3-hide-small"><a href="/about" class="headera">About</a> </button>
      <% if(user.role == 'admin') {%>
        <button class="w3-button w3-white w3-hide-small"><a href="/admin/users" class="headera">Users</a> </button>
      <% } %>
    </div>
    </div>
  </header>
  

  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    
    <% for (let i of articles){ %>
      <div class="w3-third w3-container w3-margin-bottom">
        <img src="/img/articleavatar/<%= i.articleavatar %>" alt="Norway" style="width:100%" height="300px" class="w3-hover-opacity">
        <div class="w3-container w3-white">
          <p><span class="title_span">title:</span> <b><%= i.title %></b></p>
               
          <p><%= i.description %>...</p>

        <a href="/dashboard/owner/article/<%= i._id %>" class="btn btn-primary"  type="submit">read more ...</a>
  

          <p class="history"><b><%=  new Date (i.date).getFullYear() %>/<%=  new Date (i.date).getMonth() %>/<%=  new Date (i.date).getDate() %></b></p>
        </div>
  
          <!-- i.createdAt = `${new Date(i.createdAt).getFullYear}/${new Date(i.createdAt).getMonth()}/${new Date(i.createdAt).getDate()}` -->
      
      </div>
    <% } %>
  </div>

  <!-- Pagination
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">&laquo;</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">&raquo;</a>
    </div>
  </div> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
// console.log($(".article-submit").attr("value"))


</script>

</body>
</html>